
@mixin transition($seconds) {
    -webkit-transition: all $seconds cubic-bezier(.07, .49, 1, .08);
    -moz-transition: all $seconds cubic-bezier(.07, .49, 1, .08);
    transition: all $seconds cubic-bezier(.07, .49, 1, .08);
}


// * Mixin Responsive
$min-viewport: 350;
$max-viewport: 1792;

@mixin responsive($property, $property-min, $property-max) {
    #{$property}: calc(#{$property-min}px + (#{$property-max} - #{$property-min}) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) )) !important;
}
$primary-color:black;
$secondary-color: #c98dbc;
.career_details {
  display: block;
  p {
    font-size: 17px;
  }
  .option-flex {
    display: flex;
    align-items: center;
    border: none;
    .custom-radio {
        display: flex;
        flex-direction: row;
        align-items: center;
        [type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }
    
          .radio-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            position: relative;
          
            margin: 0 10px 0 0;
          }
    
    
          .label-icon {
            border-radius: 3px;
            border: 2px solid var(--dark-theme06);
            background-size: auto 40px;
            background-repeat: no-repeat;
            background-position: center 10px;
            margin-bottom: 0;
            padding: 15px 30px; 
            padding-top: 65px;
            text-align: center; 
            justify-content: center;


            display: flex;
            align-items: baseline;
            @include transition(0.3s);

          }

          .label-icon.option1 {
            background-image: url('../../../../IMG/intern.png');
          }

          .label-icon.option2 {
            background-image: url('../../../../IMG/full.png');
          }
          .label-icon.option3 {
            background-image: url('../../../../IMG/part.png');
          }
          .or-separator {
            margin: 0 35px;
          }
    
          label, .or-separator {
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-align: center;
            color: $primary-color;
    
          }
    }
  }
  .priotrity-field {
    .working-choice {
      display: flex;
      justify-content: space-between;
    }
  }
  .duration {
    display: flex;
    justify-content: center;
    .timeP {
      width: 100%;
      margin-right: 8px;
    }
  }
  .add_more_data {
    width: 100%;
    display: inline-block;
    margin: 25px 15px;
}
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  .btn {
    border: 2px solid #00bcd4;
    color: #00bcd4;
    background-color: white;
    padding: 6px 15px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;

  }
   input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
.switch-field {
	display: flex;
	overflow: hidden;
   input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    &:checked + label {
      background-color: #00bcd4;
      box-shadow: var(--bs-lg);
    }
  }
  label {
    background-color: #e4e4e4;
    color: #4b4b4b;
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}


















.option-heading {
    display: block;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
    
}



/* IMAGE STYLES */
[type=radio] + .label-icon {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */

  [type=radio]:checked + .label-icon {
    background: #00bcd4;
    width: 100%;
    height: 100%;
    padding: 100%;
    margin: 0;
    box-shadow: inset 0px 0px 20px 11px #00000080;
  }

  [type=radio]:checked + .label-icon.option1 {
    background-image:url('https://www.flaticon.com/premium-icon/icons/svg/1660/1660759.svg');
    background-position: center 10px;
  }


  [type=radio]:checked + .label-icon.option2 {
    background-image:url('https://www.flaticon.com/premium-icon/icons/svg/677/677768.svg');
    background-position: center 10px;
  }
